<section class="hCard" itemtype="http://microformats.org/profile/hcard" itemscope>
	<h3 itemprop="fn">Leo Balter</h3>
	<p itemprop="email">leo@balter.com.br<p>
	<div itemprop="adr" itemscope>
		<p itemprop="locality">Rio de Janeiro</p>
	</div>
	<nav>
        <ul class="linear clearfix">
            <li><a href="http://www.iloop.com.br/" class="linkButton" itemprop="url">Home desse site</a></li>
            <li><a href="http://www.desconferencia.com.br" class="linkButton" itemprop="url">blog de idéias</a></li>
            <li><a href="http://twitter.com/leobalter" class="linkButton" itemprop="url">twitter</a></li>
            <li><a href="http://facebook.com/leonardo.balter" class="linkButton" itemprop="url">facebook</a></li>
        </ul>
	</nav>
</section>